body .ui-menu.ui-widget {
	width: 100%
}

.menu-icon {
	width: 150px;
}

.menu-icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
body .menu-container .ui-state-active {
	background-color: #0081c2 !important;
}
body .menu-container .ui-state-active a{
	color: white !important;
}
